name: Build ThunderBounce

on:
  workflow_dispatch:   # <-- CÓ NÚT BẤM BUILD
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ThunderBounce-JAR
          path: build/libs/*.jar
